section {
    padding-top: 2em;
    font-family: 'IBM Plex Sans', sans-serif;
}

p {
    font-size: .8em;
}

a {
    border-bottom: .1em solid dodgerblue;
    cursor: pointer;
    font-size: .8em;
}   

h2 {
    text-transform: uppercase;
    font-size: .8em;
}

a:hover {
    border-bottom: none;
    padding-bottom: 2px;
    background-repeat: repeat;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 10 18'%3E%3Cstyle type='text/css'%3E.squiggle%7Banimation:shift .5s linear infinite;%7D@keyframes shift %7Bfrom %7Btransform:translateX(-10px);%7Dto %7Btransform:translateX(0);%7D%7D%3C/style%3E%3Cpath fill='none' stroke='dodgerblue' stroke-width='1' class='squiggle' d='M0,17.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5 c 2.5,0,2.5,-1.5,5,-1.5 s 2.5,1.5,5,1.5' /%3E%3C/svg%3E");
}

.content {
    padding-top: 1.5em;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.details {
    width: 100%;
}

.writeup {
    width: 100%;
}

.writeup > p > a {
    font-size: 1em;
}

.details > div {
    margin-bottom: 1em;
}

.details > p {
    padding-bottom: 1em;
}

#gallery {
    display: flex; /* Use flexbox for alignment */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: space-between; /* Space items evenly */
    column-gap: 1em; /* Gap between columns */
    padding: 2em 0;
}

#gallery img {
    width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
}

#img-chunk {
    display: flex; /* Use flexbox for alignment */
    flex-direction: column; /* Stack image and label vertically */
    align-items: flex-start; /* Align items to the start (left) */
    width: calc(50% - .5em); /* Adjust width for three columns with gap */
    margin-bottom: 1em; /* Space between rows */
}

#img-chunk > p {
    font-size: .8em;
    text-transform: uppercase;
    margin-top: 0.5em; /* Add top margin for spacing between image and text */
    margin-bottom: 0; /* Remove bottom margin for better alignment */
}

@media screen and (max-width: 25%) {
    .content {
        display: flex;
        flex-direction: column;
        padding-top: .8em;
    }

    .details {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .details > div {
        padding: 0;
    }

    .writeup {
        margin: 0;
    }
}

#gallery iframe {
    width: 100% !important; /* Make iframe responsive to match image width */
    height: 100%; /* Set a specific height */
    aspect-ratio: 16 / 9; /* Maintain a 16:9 aspect ratio */
    border: none; /* Remove border if any */
}