/* High Level Adjustments */
@keyframes bgcolor {
    0% {
        background-color: #DEEAFE;
    }

    33% {
        background-color: #d3d9d1;
    }

    66% {
        background-color: #FFE2E2;
    }

    100% {
        background-color: #DEEAFE;
    }
}

body {
    -webkit-animation: bgcolor 40s infinite;
    animation: bgcolor 40s infinite;
 
    margin: 0;
    height: 100vh;
    cursor: none;
}

.cursor {
    width: 10px;
    height: 10px;
    background-color:#070E1F;
    border-radius: 50%;
    position: absolute;
    transition-duration: 175ms;
    transition-timing-function: ease-out;
}

:hover {
    cursor: none;
}

@font-face {
    font-family: "Karrik-Regular";
    src: url("assets/Karrik-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@keyframes grainjiggle {
    0% { left: 0; }
    33% { left: .2vw; }
    50% { left: .1vw; rotate: 15deg; }
    66% { left: .05vw; top: .2vh}
    100% { left: 0; top: 0; rotate: 0; }
} 

#grain {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;

    animation: grainjiggle .25s steps(5) infinite alternate; 
}

/* hr {
    margin: 0;
    padding: 0;
    background-color:#515e4d;
    height: .33vh;
} */

/* Header Adjustments */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 7.5vh 5vw 0 5vw;
    margin: 0;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.top-nav > span {
    padding: 0 .75em 0 0;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.top-nav > span > a, p {
    color: #4374FC;
    font-family: "Karrik-Regular";
    font-size: 1.25em;
    text-decoration: none;
}

.top-nav > span > a:hover {
    font-style: italic;
    color: #515e4d;
}

.logo {
    height: auto;
    width: 10vw;
}

/* Body Adjustments */
h1 {
    text-transform: uppercase;
    color: #4374FC;
    font-family: "Karrik-Regular";
    font-size: 1.33em;
    letter-spacing: .05em;
}

.main {
    display: block;
    padding: 0 0 0 5vw;

    /* vertically centering the main body */
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -.33em;
}

.list > span {
    padding: .33em 2em 0 0;
}

.list > span > a {
    text-decoration: underline;
    font-family: "Karrik-Regular";
    font-weight: 600;
    color:#4374FC;
    font-size: 1.75em;
}

.list > span > p {
    font-family: "IBM Plex Mono";
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 1vh;
}

.list > span > a:hover {
    font-style: italic;
    color: #515e4d;
}

.work-list {
    margin-bottom: 3em;
}

/* Footer Adjustments */
.bottom-bar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 7.5vh;
    vertical-align: bottom;
    padding: 0 5vw 0 5vw;
    width: 90vw;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
}

.bottom-nav > span {
    padding: 0 .75em 0 0;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.bottom-nav > span > p, a {
    color: #4374FC;
    font-family: "Karrik-Regular";
    font-size: 1.25em;
    text-decoration: none;
}

.bottom-nav > span > a:hover {
    font-style: italic;
    color: #515e4d;
}

