/* High Level Adjustments */
@keyframes bgcolor {
    0% {
        background-color: #DEEAFE;
    }

    33% {
        background-color: #d3d9d1;
    }

    66% {
        background-color: #FFE2E2;
    }

    100% {
        background-color: #DEEAFE;
    }
}

body {
    /* background gradient changes */
    -webkit-animation: bgcolor 40s infinite;
    animation: bgcolor 40s infinite;
    
    margin: 0;
    height: 100vh;
    cursor: none;
}

.cursor {
    width: 10px;
    height: 10px;
    background-color:#070E1F;
    border-radius: 50%;
    position: absolute;
    transition-duration: 125ms;
    transition-timing-function: ease-out;
}

:hover{
    cursor: none;
}

@font-face {
    font-family: "Karrik-Regular";
    src: url("../assets/Karrik-Regular.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');

@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../webfonts/fa-solid-900.eot");
    src: url("../webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../webfonts/fa-solid-900.woff2") format("woff2"), url("../webfonts/fa-solid-900.woff") format("woff"), url("../webfonts/fa-solid-900.ttf") format("truetype"), url("../webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

/* Header Adjustments */
.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 7.5vh 5vw 0 5vw;
    opacity: 100;
    margin: 0;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.top-nav > span {
    padding: 0 .75em 0 0;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.top-nav > span > a, p {
    color: #4374FC;
    font-family: "Karrik-Regular";
    font-size: 1.25em;
    text-decoration: none;
}

.top-nav > span > a:hover {
    font-style: italic;
    color: #515e4d;
}

.logo {
    height: auto;
    width: 10vw;
}

/* Body Adjustments */
.row {
    display: flex;
    padding: 10vh 20vw 10vh 20vw;
}

.left {
    width: 30%;
}

.right {
    width: 70%;
    margin: 0 4em 0 0;
}

h1 {
    text-transform: uppercase;
    color: #070E1F;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.1em;
    letter-spacing: .01em;

    padding: 0 0 .1em 0;
    margin: 0;
}

h2 {
    font-family: "Karrik-Regular", sans-serif;
    font-size: 1.33em;
    color: #4374FC;
    padding: 0 0 .1em 0;
    margin: 0;
}

.left > a {
    font-family: "Karrik-Regular", sans-serif;
    font-size: 1.33em;
    color: #4374FC;
    padding: 0 0 .1em 0;
    margin: 0;
}

.left > a, h2 {
    padding-bottom: .15em;
}

.left a:hover {
    font-style: italic;
    color: #515e4d;
}

.right > p > a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #4374FC;
    padding: 0 0 .1em 0;
    margin: 0;
}

.right a:hover {
    font-style: italic;
    color: #515e4d;
}

.right > p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: #070E1F;
    font-size: 1.33em;
    padding: 0 0 0 2em;
    margin: 0;
}

#candor-image {
    padding: 2em 5vw 0 0;
    width: 40vw;
}

.wrapper > div > h2 {
    text-transform: uppercase;
    color: #070E1F;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.1em;
    letter-spacing: .01em;

    margin: 0;
    padding: 0 0 1vh 0;
}

.wrapper {
    margin-top: -12vh;
    display: grid;
    grid-gap: 2.5vw 5vh;
    grid-template-columns: repeat(2, 30vw);
}

#video {
    height: 40vh;
    width: 26vw;
}

/* Footer Adjustments */
.bottom-bar {
    display: flex;
    position: relative;
    justify-content: space-between;
    bottom: 7.5vh;
    vertical-align: bottom;
    padding: 0 5vw 0 5vw;
    width: 90vw;
}

.bottom-nav {
    display: flex;
    justify-content: space-between;
}

.bottom-nav > span {
    padding: 0 .75em 0 0;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}

.bottom-nav > span > p, a {
    color: #4374FC;
    font-family: "Karrik-Regular";
    font-size: 1.25em;
    text-decoration: none;
}

.bottom-nav > span > a:hover {
    font-style: italic;
    color: #515e4d;
}